*
{
    margin:auto;
}

.container
{
    background-color:ghostwhite;
    display: block;
    max-width: 100%;
}

.heading, .about
{
    text-align: center;
    color: brown;
    
    padding-top: 3px;
    padding-bottom: 3px;
    font-size:large;
}

.image
{
    
    display:grid;
    
    padding-top: 10px;
    padding-bottom: 20px;
    
    
}
.detail
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding:15px 40px 30px 40px
}

.menu-head
{
    text-align: center;
    color:darkred;
    background-color: cornsilk;
    font-size: larger;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 2px dotted black;
    display: flex;
    
}
.price
{
    float:right;
    color: crimson;
    font-weight: bold;
}
.menu-head
{
    margin-left: 20%;
    margin-right: 20%;

}
.menu
{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    background-color: rgb(235, 211, 229);
    text-align: center;
    
    
}
.with
{
    color:indianred;
    display: block;
}
.navbar
{
    list-style-type: none;
    color:black;
    background-color: beige;
    display:grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    padding:2% 2% 2% 2%;
    margin-top: 0% 0% 0% 0%;
    position:relative;
    margin:auto;
    
}

.items
{
    list-style-type: none;

}



body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    line-height: normal;
    
    
}

.core
{
    text-align: center;
    color: brown;
    font-size: larger;
    padding-left: 30px;
    text-shadow: 5px;

}
